@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@300&display=swap');
*{
    box-sizing: boarder-box;
    padding: 0;
    margin: 0;
}
body {
    
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    background: #f2f6f7;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}

header {
    background: #005f73;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background: #94d2bd;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #005f73;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: #0a9396;
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 28%;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* Contact Form */
.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 8px;
}

.contact-form button {
    padding: 10px;
    background: #005f73;
    color: white;
    border: none;
    cursor: pointer;
}